.features {
  text-align: center;
  transition: all 0.5s ease-in-out;

  &__item {

    img {
      width: toRem(30);
    }

    h4, p {
      font-weight: 400;
    }
  
    h4 {
      font-size: toRem(20);
      color: var(--color-primary);
    }
  
    p {
      color: var(--color-secondary);
    }
  }

}