:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #D84A4A;
  --color-secondary: #425966;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Monster Clubhouse';
}